<div class="container">
	<header class="cookbook-header py-3">
		<div class="row flex-nowrap justify-content-center align-items-center">
			<div class="col-md-4 text-center">
				<a href="{{ site.url }}" class="cookbook-header-logo recipe-title">Cookbook</a>
			</div>
		</div>
	</header>
	<div class="nav-scroller py-1 border-bottom border-top mb-3">
		<nav class="nav d-flex justify-content-between">
			<a href="{{ site.url }}" class="p-2 text-muted">Home</a>
			{% assign categories = site.recipes | map: 'categories' | join: ',' | split: ',' | group_by: category %}
			{% for category in categories %}
				<a href="{{ category.name }}" class="p-2 text-muted">{{ category.name | capitalize}}</a>
			{% endfor %}
		</nav>
	</div>
</div>